<div *ngIf="!price">
    <h3>You have no items</h3>

</div>

<div *ngIf="price" >
    <thead>
        <tr>
            <th style="font-size: x-large;width: 550px;">Your final amount: {{price}}</th>
        </tr>
    </thead>
    <ng-container *ngFor="let product of products">
        <table id="products">          
                <tr>
                    <th style="width: 550px">{{product}}</th>
                            
                </tr>
    </table>   
    </ng-container>
       
</div>


<div *ngIf="price" class="row"> 
    <button class="btn btn-primary" style="margin: 5px;" (click)=onclicktest() routerLink="/checkout"> Checkout
    </button>
    
    <div><button class="btn btn-danger" (click)="onDelete()" style="margin: 5px;">Delete</button></div>
</div>