<div class="row">
<div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">

        <h5>Please give the product's details</h5>

        <div class="form-group">
            <label for="name">Name</label>
            <input #name="ngModel" ngModel name="name" id= "name" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                Product name is required
            </div>
    
        </div>
    
        <div class="form-group">
            <label for="gender">Gender</label>
            <select #gender="ngModel" ngModel name="gender" id= "gender" type="string" class="form-control" required >
                <option value="Women">Women</option>
                <option value="Men">Men</option>
            </select>
        </div>
        <div class="alert alert-danger" *ngIf="gender.touched && gender.invalid">
            Gender is required
        </div>
    
        <div class="form-group">
            <label for="type">Type</label>
            <select #type="ngModel" ngModel name="type" id= "type" type="string" class="form-control" required>
                <option value="Farmer">Farmer</option>
                <option value="T-shirt">T-shirt</option>
                <option value="Sneakers">Sneakers</option>
                <option value="Jacket">Jacket</option>
                <option value="Skirt">Skirt</option>
            </select>
        </div>
        <div class="alert alert-danger" *ngIf="type.touched && type.invalid">
            Type is required
        </div>
    
        <div>
            <button type="button" class="btn btn-primary" (click)="filepicker.click()"> Upload Image </button>
            <input type="file" #filepicker (change)="imagePicked($event)">
        </div>
        <div class="form-group">
            <label for="imageurl">ImageURL</label>
            <input #imageurl="ngModel" ngModel name="imageurl" id= "imageurl" type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input #price="ngModel" ngModel name="price" id= "price" type="number" class="form-control" required [min]="0">
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
            <div *ngIf="price.errors.required">Price is required</div>
            <div *ngIf="price.errors.min">Price is must be at least 0</div>
            
        </div>
        
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input #quantity="ngModel" ngModel name="quantity" id= "quantity" type="number" class="form-control" required [min]="1">
        </div>
        <div class="alert alert-danger" *ngIf="quantity.touched && quantity.invalid">
            <div *ngIf="quantity.errors.required">Quantity is required</div>
            <div *ngIf="quantity.errors.min">Quantity is must be at least 1</div>
        </div>
    
        <div class="form-group">
            <label for="description">Description</label>
            <input #description="ngModel" ngModel name="description" id="description" type="text" class="form-control" required>
        </div>  
        <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
            Description is required
        </div>
        
        
        <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Save product</button> 
        
    </form>   
</div>

<div class="col-md-6">

    <div class="card" style="width: 22rem;">
        <img class="card-img-top" [src]="imageurl.value">
        <div class="card-body">
          <h5 class="card-title">{{name.value}}</h5>
          <h6 class="card-title">{{price.value | currency:'USD':true }}</h6>
          <p class="card-text"> {{ description.value}}</p>
        </div>
      </div>

</div>
</div>

